<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='search.css') }}"
    />
    <title>Search for Match</title>
  </head>
  <body>
    <h1>Search for Match</h1>
    <form method="POST" action="{{ url_for('matchPage') }}">
      <label for="user_name">Enter User Name:</label>
      <input type="text" id="user_name" name="user_name" required />
      <button type="submit">Search</button>
    </form>
  </body>
</html>
